.bookmarked {
  width: fit-content;
  margin: 0 0.2rem 0.3rem 0.2rem;
  padding: 0.3rem 0.7rem;

  font-size: 14px;
  background-color: #2b3741;
  color: rgba(255, 255, 255, 0.704);
  border-radius: 20px;

  span {
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
