@import '../responsive';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: #00000087;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &__container {
    position: relative;
    width: 800px;
    min-height: 300px;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    display: inline-block;
    text-align: center;

    h1 {
      margin-top: 0;
      font-weight: 400;
    }
  }

  &__closeButton {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: transparent;
      border: none;
      font-size: 25px;
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__country-information {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;

    div:first-child {
      flex-basis: 40%;
      max-width: 40%;
    }

    div:last-child {
      flex-basis: 35%;
      max-width: 35%;
    }
  }

  &__country-image {
    margin-right: 1.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__country-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
      margin: 0;
      font-weight: 400;
      text-align: center;

      span {
        font-weight: 300;
      }
    }
  }

  &__graph {
    width: 100%;
  }

  .highcharts-credits {
    display: none;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 120px;
      height: 35px;
      margin: 10px;
      border: none;
      background-color: #0667ae;
      color: white;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

/* Responsive */
.modal {
  @include breakpoint-down('sm') {
    &__container {
      width: 85%;
    }

    &__title {
      h1 {
        font-size: 25px;
      }
    }
  }

  @include screen('xs') {
    &__country-information {
      flex-direction: column;

      div:first-child {
        flex-basis: initial;
        max-width: initial;
      }

      div:last-child {
        flex-basis: initial;
        max-width: initial;
      }
    }

    &__country-image {
      margin-right: 0;
    }
  }
}
