table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: #0667ae;
  color: #ffffff;
}

td {
  background-color: rgb(205, 235, 253);
}

td:nth-child(3) {
  cursor: pointer;
  &:hover {
    font-weight: 400;
  }
}
