table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 15px;
}

th {
  background-color: #0667ae;
  color: #ffffff;
  text-align: center;
}

th:nth-child(1),
th:nth-child(2) {
  width: 8%;
}

th:nth-child(3),
th:nth-child(4) {
  width: 46%;
}

td {
  background-color: rgb(205, 235, 253);
  text-align: center;
}

td:nth-child(3) {
  cursor: pointer;
  &:hover {
    font-weight: 400;
  }
}
